block title
    title Alliar Knee Diagnosis

block content
    p For <b>Placed</b> calculation Bids are subtracted from Asks.
    p Max lost position:
        input(id="rangeMaxLost" type="range" name="points" min="100" max="3000" value=settings.test1)
        label(id="testOne") #{settings.test1} USD
    p Init Share:
        input(id="rangeInitShare" type="range" name="points" min="0" max="1000" value=settings.test2)
        label(id="testtwo") #{settings.test2} USD
    p <b>TOTAL WINNINGS:</b> #{totalWinnings} mBTC