block title
    title Resume

block content
    p Counters:
    p #{counters.ok} (#{Math.floor(counters.ok/counters.total*100)} %) Ok
    p #{counters.med} (#{Math.floor(counters.med/counters.total*100)} %) almost there
    p #{counters.bad} (#{Math.floor(counters.bad/counters.total*100)} %) not Ok
    p ---
    p #{counters.one} (#{Math.floor(counters.one/counters.total*100)} %) Single
    p #{counters.many} (#{Math.floor(counters.many/counters.total*100)} %) Many
    p ---
    p #{counters.total} (#{Math.floor(counters.total/counters.total*100)} %) Total