block title
    title Resume

block content
    p Add Token:
    p #{counters.ok} (#{Math.floor(counters.ok/counters.total*100)/100} %) Ok
    p #{counters.med} (#{Math.floor(counters.ok/counters.total*100)/100} %) almost there
    p #{counters.bad} (#{Math.floor(counters.ok/counters.total*100)/100} %) not Ok
    p #{counters.total} (#{Math.floor(counters.ok/counters.total*100)/100} %) Total